<div id="contact__body">
    <div id="career-contact-form-container">
      <h2 id="career-contact-form-title">CONTACT</h2>
      <form id="career-contact-form" action="https://formspree.io/f/YOUR_FORM_ID" method="POST" enctype="multipart/form-data">
        
        <label for="contact-name">
            {{ include.form_labels.name | default: "お名前" }}:
            <input id="contact-name" type="text" name="name" required>
        </label>
        <br><br>
        
        <label for="contact-email">
            {{ include.form_labels.email | default: "メールアドレス" }}:
            <input id="contact-email" type="email" name="email" required>
        </label>
        <br><br>
        
        <label for="desired-job">
            {{ include.form_labels.desired_job | default: "希望する職種" }}:
            <input id="desired-job" type="text" name="desired_job">
        </label>
        <br><br>
        
        <label for="contact-message">
            {{ include.form_labels.message | default: "メッセージ" }}:
            <textarea id="contact-message" name="message" required></textarea>
        </label>
        <br><br>
        
        <label for="contact-attachment">
            {{ include.form_labels.attach_file | default: "ファイルを添付" }}:
            <input id="contact-attachment" type="file" name="attachment">
        </label>
        <br><br>
        
        <button id="contact-submit-button" type="submit">
            {{ include.form_labels.submit | default: "送信" }}
        </button>
        </form>
    </div>
</div>