<div id="contact__body">
    <div id="career-contact-form-container">
        <h2 id="career-contact-form-title">CONTACT</h2>
        <form id="career-contact-form" action="YOUR_API_GATEWAY_URL" method="POST">
            
            <label for="contact-name">
                {{ include.form_labels.name | default: "お名前" }}:
            </label>
            <input id="contact-name" type="text" name="name" required>
            <br><br>

            <label for="contact-email">
                {{ include.form_labels.email | default: "メールアドレス" }}:
            </label>
            <input id="contact-email" type="email" name="email" required>
            <br><br>

            <label for="desired-job">
                {{ include.form_labels.desired_job | default: "希望する職種" }}:
            </label>
            <input id="desired-job" type="text" name="desired_job">
            <br><br>

            <label for="contact-message">
                {{ include.form_labels.message | default: "メッセージ" }}:
            </label>
            <textarea id="contact-message" name="message" required></textarea>
            <br><br>

            <button id="contact-submit-button" type="submit">
                {{ include.form_labels.submit | default: "送信" }}
            </button>
        </form>
    </div>
</div>
