<header class="site-header">
  <div class="logo-container">
    <img src="/assets/imgs/logo.webp" alt="Site Logo" class="site-logo">
  </div>
  <nav>
    <ul class="navigation-links">
    </ul>
  </nav>
</header>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var navLinks = document.querySelector(".navigation-links");
  var userLang = navigator.language || navigator.userLanguage;
  var lang = userLang.startsWith("ja") ? 'ja' : 'en';

  var links = {
    'ja': [
      { title: "ホーム", url: "home_ja.html" },
      { title: "会社情報", url: "/about_ja.html" },
      { title: "製品", url: "/products_ja.html" },
      { title: "キャリア", url: "/careers_ja.html" },
      { title: "ニュース", url: "/news_ja.html" },
    ],
    'en': [
      { title: "HOME", url: "home_en.html" },
      { title: "ABOUT", url: "/about_en.html" },
      { title: "PRODUCTS", url: "/products_en.html" },
      { title: "CAREERS", url: "/careers_en.html" },
      { title: "NEWS", url: "/news_en.html" },
    ]
  };

  links[lang].forEach(function(link) {
    var listItem = document.createElement('li');
    listItem.classList.add('navigation-item');
    var anchor = document.createElement('a');
    anchor.classList.add('navigation-link');
    anchor.textContent = link.title;
    anchor.href = link.url;
    listItem.appendChild(anchor);
    navLinks.appendChild(listItem);
  });
});
</script>