{% assign recruitment_details = page.recruitment_details | default: {} %}
<div class="job-post">
  <h2>{{ page.recruitment_details.job_title | default: "Job Title Not Provided" }}</h2>

  {% if recruitment_details.location %}
    <p><strong>{{ recruitment_details.location.label }}:</strong> {{ recruitment_details.location.value }}</p>
  {% endif %}

  {% if recruitment_details.employment_types %}
    <p><strong>{{ recruitment_details.employment_types.label }}:</strong> 
      {% if recruitment_details.employment_types.values %}
        {{ recruitment_details.employment_types.values | join: ", " }}
      {% else %}
        Not Provided
      {% endif %}
    </p>
  {% endif %}

  {% if recruitment_details.job_description %}
    <h3>{{ recruitment_details.job_description.label }}</h3>
    <ul>
      {% for description in recruitment_details.job_description.values %}
        <li>{{ description }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if recruitment_details.requirements %}
    <h3>{{ recruitment_details.requirements.label }}</h3>
    <ul>
      {% for requirement in recruitment_details.requirements.values %}
        <li>{{ requirement }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if recruitment_details.desired_skills %}
    <h3>{{ recruitment_details.desired_skills.label }}</h3>
    <ul>
      {% for skill in recruitment_details.desired_skills.values %}
        <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if recruitment_details.compensation %}
    <p><strong>{{ recruitment_details.compensation.label }}:</strong> {{ recruitment_details.compensation.value }}</p>
  {% endif %}

  {% if recruitment_details.contact_details %}
    <p><strong>{{ recruitment_details.contact_details.label }}:</strong> {{ recruitment_details.contact_details.value }}</p>
  {% endif %}
</div>
