/* ==========================
   Styling for banner object
   ==========================*/

   .banner {
    position: relative;
    overflow: hidden;
    margin-top: 4vw;
    margin-bottom: 0;
    min-height: 30vw;
  }
  
  .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  
  .banner__image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .banner__image-container img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    display: block;
    z-index: 0;
    filter: brightness(0.5);
  }
  
  .banner__text {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 5em;
    padding: 2vw;
    max-width: 90%; /* Ensure text doesn't overflow horizontally */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
  }
  
/* ==========================
   Mobile-specific styling
   ==========================*/

   @media (max-width: 768px) {
    .banner__image-container img {
      filter: brightness(0.4); /* Reduce brightness on mobile */
    }
  
    /* Adjust text size, positioning, and padding for mobile */
    .banner__text {
      font-size: 4vw; /* Smaller font size for mobile, scales based on viewport */
      max-width: 80%; /* Ensure the text has room to fit within the container */
      line-height: 1.2; /* Adjust line height for better spacing */
    }
  }