/* =======================================
   Styling for content_block_right object
   ======================================= */

.content__wrapper {
  display: flex;
  flex-direction: column;
}

.content__item {
  margin-bottom: 20px; 
}

.content__item-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.content__item-body {
  flex: 1;
  text-align: left; 
  padding-right: 20px; 
}

.content__item-image {
  flex: 1;
  max-width: 100%; 
}

.content__item-image img {
  width: 100%; 
  height: auto;
}

.content__item-caption {
  font-style: italic;
  color: #888;
}
