/* ==========================================================================
   Styling for content_block
   ========================================================================== */

   .content__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-left: 5%; /* Slide everything to the right by adding left padding */
    align-items: center; /* Centers all content horizontally */
    justify-content: center; /* Centers content vertically if necessary */
  }
  
  .content__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    margin-bottom: 2em; /* Adjust space between items */
  }
  
  .content__item-container {
    display: flex;
    align-items: center; /* Vertically centers content */
    justify-content: center; /* Centers image and text horizontally */
    gap: 1em; /* Adjust space between image and text */
    max-width: 1200px; /* Optional: Add max-width to constrain content */
    width: 100%;
  }
  
  .content__item-image {
    max-width: 50%; /* Image takes up to 30% of the container width */
    height: auto; /* Maintains the image aspect ratio */
    display: block; /* Ensure image doesn't exceed container bounds */
  }
  
  .content__item-body {
    flex: 1; /* Allow text to take remaining space */
    padding: 0.5em; /* Reduced padding for closer alignment */
    color: #666; /* Apply gray color to text */
  }
  
  .content__item-title {
    font-size: 1.5em; /* Scales the title text */
    margin: 0;
    padding-bottom: 0.5em; /* Less space below the title */
    color: #000; /* Apply black color to title */
  }
  
  .content__item-subtitle {
    font-size: 1.2em; /* Scales subtitles */
    margin-top: 0.5em;
    color: #666; /* Apply gray color to subtitles */
  }
  
  .content__item-caption {
    font-size: 1em; /* Scales caption text */
    color: #999; /* Lighter gray color for captions */
    margin-top: 0.5em;
    display: block;
  }
  
  .divider-bar {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  