/* =======================================
   Styling for content_block_right object
   ======================================= */

.content__wrapper {
  display: flex;
  flex-direction: column;
}

.content__item {
  margin-bottom: 20px; 
}

.content__item-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.content__item-body {
  flex: 1;
  text-align: left; 
  padding-right: 20px; 
}

.content__item-image {
  flex: 1;
  max-width: 100%; 
}

.content__item-image img {
  width: 100%; 
  max-width: 500px;
  height: auto;
  display: block;
  border-radius: 8px;
}

.content__item-caption {
  font-style: italic;
  color: #888;
}

.content__item-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffffff; 
  color: #888;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.content__item-button:hover {
  background-color: #8bc0fa;
}