/* ===============================
   Styling for contact_form object
   =============================== */

   #contact__body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
  }
  
  #career-contact-form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  #career-contact-form-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px; /* Reduced margin */
  }
  
  #career-contact-form {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Reduced padding */
    width: 70vw; /* 75% of the viewport width */
    max-width: 35vw; /* Increased max-width */
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto; /* Center the form horizontally */
  }
  
  label {
    display: block;
    margin-bottom: 10px; /* Reduced margin */
    color: #555;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 6px; /* Reduced padding */
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
    min-height: 50px; /* Reduced height */
  }
  
  input[type="file"] {
    padding: 3px;
  }
  
  #contact-submit-button {
    width: 100%;
    padding: 6px; /* Reduced padding */
    background: #0078D7;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #contact-submit-button:hover {
    background: #005fa3;
  }
  
  @media (max-width: 480px) {
    #career-contact-form {
      padding: 8px; /* Reduced padding */
    }
  
    #contact-submit-button {
      font-size: 14px;
    }
  }
  