/* ===========================
   Styling for navigation bar
   =========================== */

.site-header {
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), url('') no-repeat;
  background-size: cover;
  background-position: center top;
  height: 80px;
  border: none; 
  box-shadow: none;
  outline: none; 
}

.site-header .logo-container {
  margin-right: 5em;
  flex-shrink: 0;
  width: 25%; 
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.site-header .site-logo {
  width: 300px; 
  height: 300px;
  object-fit: contain; 
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%; 
  align-items: center;
  border: none;
  box-shadow: none; 
  outline: none; 
}

.navigation-links {
  list-style: none;
  margin: 0;
  padding: 30em; 
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  align-items: center; 
}

.navigation-item {
  margin: 0;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  padding: 0.1em 0.1em; 
  font-size: 1.5em; 
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition: color 0.3s; 
}

.navigation-link {
  color: #2f5e66; /* Default color */
  text-decoration: none;
  padding: 0.1em 0.1em; 
  font-size: 1.5em; 
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition: color 0.3s; 
}

.navigation-link:link, 
.navigation-link:visited {
  color: #797979; 
}

.navigation-link:hover, 
.navigation-link:focus, 
.navigation-link:active {
  color: #000000; /* Keeps the color consistent during hover and active states */
}

.navigation-link.active {
  text-decoration: underline; 
  font-weight: bold; 
}