/* =============================
   Styling for recruitment form
   ============================= */

.job-post {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5em;
  max-width: 35vw;
  width: 50%;
  margin-left: 31vw; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .job-post {
    width: 60%;
    margin-left: 5vw;
  }
}

@media (max-width: 768px) {
  .job-post {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
