/* ================================
   Styling for three-column object
   ================================ */

   .three-column__wrapper {
    width: 50vw; 
    padding-left: 3em;
    padding-right: 3em;
    margin: 0 auto 5em; 
  }
  
.three-column__title {
  font-size: 2vw;
  font-weight: bold;
  color: #5c5c5c;
  text-align: left; 
  margin-bottom: 0em; 
  font-family: 'Roboto', sans-serif;
}

  .divider-bar {
    height: 0.2vw;
    background-color: #000000; 
    margin-bottom: 1em;
  }
  
  .three-column__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2em; 
  }
  
  .three-column__item {
    width: 30%; 
    box-sizing: border-box;
    color: #000000; 
  }
  
  .three-column__item h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
  }
  
  .three-column__item-image img {
    width: 100%;
    height: auto;
  }
  
  .three-column__item-subtitle {
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    color: #5f5f5f; 
  }
  
  .three-column__item-text {
    font-size: 0.8vw;
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #5f5f5f; 
  }
