---
layout: default
---
{% if page.banners and page.banners.size > 0 %}
  {% assign banner = page.banners[0] %}
  {% if banner.overlay_color or banner.overlay_image or banner.image %}
    <div class="banner" style="height: {{ banner.height | default: '400px' }};">
      {% if banner.overlay_image or banner.overlay_color %}
        <div class="banner__overlay" style="background-image: url('{{ banner.overlay_image }}'); background-color: {{ banner.overlay_color }};"></div>
      {% endif %}
      {% if banner.image %}
        <div class="banner__image-container">
          <img src="{{ banner.image }}" alt="Banner Image"
               class="{% if banner.image_class %}{{ banner.image_class }}{% endif %}"
               style="{% if banner.image_style %}{{ banner.image_style }}{% endif %}">
        </div>
      {% endif %}
      {% if banner.caption %}
        <div class="banner__text">
          <p>{{ banner.caption | newline_to_br }}</p> 
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}

<ul class="news-list">
    {% assign sorted_posts = site.pages | sort: 'date' | reverse %}
    {% if page.name contains '_en' %}
      {% assign lang_filter = '_en.md' %}
    {% else %}
      {% assign lang_filter = '_ja.md' %}
    {% endif %}
  
    {% for item in sorted_posts %}
      {% if item.path contains 'pages/news/' and item.name contains lang_filter %}
        <li class="news-item">
          <span class="news-date">{{ item.date | date: "%B %d, %Y" }}</span>
          <a href="{{ item.url }}" class="news-title">{{ item.title | default: item.name }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  